.VUk8eb{
    display: none !important;
}

.WUFI9b{
    margin-top:300px !important;
    height:50% !important;
}
.b{
    height: 100% ;
    overflow-y: scroll;
}

.loading {
    cursor: wait; /* busy cursor feedback */
}

